@import url('https://fonts.googleapis.com/css2?family=Rubik+80s+Fade&display=swap');
@import url('https://fonts.cdnfonts.com/css/whitney-2');

.locked {
    overflow: hidden;
}

body {
    overflow-x: hidden;
    min-height: 90vh;
    margin: 0px;
    user-select: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    z-index: -1;
    background-color: #181816;
    padding: 0px;
    width: 100vw;
    scroll-behavior: smooth;
}

body>svg {
    position: fixed;
    margin: 0px;
    padding: 0px;
    top: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 999;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
}

section#title {
    display: flex;
    flex-direction: row;
    height: 50vh;
    max-height: 100vh;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

section#title>div {
    position: relative;
    left: 60px;
    top: 30vh;
}

section#title h3 {
    margin: 0px;
    color: #FE1800;
    font-size: 80px;
    font-family: 'Rubik 80s Fade';
    width: calc(100vw - 120px);
}

section#title p {
    margin: 0px;
    opacity: .8;
    color: #fff;
    font-size: 36px;
    text-align: start;
    text-transform: uppercase;
    font-family: 'Rubik 80s Fade';
    width: calc(100vw - 120px);
}

#logo {
    height: 80vmin;
    position: absolute;
    left: 70vw;
    top: -15vh;
    opacity: .5;
    filter: blur(12px);
}

section a {
    transition: all 0.3s;
    text-decoration: none;
}

section.container {
    padding: 120px 0px;
    position: relative;
    background: #f5f5f5;
    font-family: whitney;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section > section.settings {
    padding: 30px;
    margin: 60px 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 20px;
    width: 75vw;
    max-width: 650px;
    box-shadow: 0px 0px 10px -5px #000;
}

section a:link {
    color: #FE1800
}
section a:visited {
    color: #FE1800
}
section a:hover {
    color: #b41200;
}
section a:active {
    color: #FE1800
}

.container .settings div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.container .settings > h3 {
    background-color: #FE1800;
    width: 100%;
    position: relative;
    left: -7.5%;
    top: -20px;
    color: #fff;
    padding: 15px;
    border-radius: 5px;
}

section .settings div > label {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

section .settings div > label.child {
    position: relative;
    left: 50px;
    width: calc(100% - 50px);
    opacity: .3;
}

section .settings div > label p {
    font-size: 18px;
}

section .settings div > label span {
    opacity: .7;
    font-size: 15px;
}

.reveal.fade > * {
    position: relative;
    transform: translateY(100px) ;
    opacity: 0;
    transition: 1s all ease;
}

.reveal.fade.active > * {
    transform: translateY(0);
    opacity: 1;
}

input[type="text"], input[type="email"], input[type="number"] {
    height: 40px;
    align-self: center;
    width: 100%;
    max-width: 250px;
}

input[type="checkbox"] {
    cursor: pointer;
}

label > *:nth-child(1) {
    width: 100%;
    max-width: 100%;
}

form {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

form input[type="text"] {
    width: 100%;
    max-width: 100%;
}

button {
    width: 100%;
    max-width: 250px;
    height: 40px;
    align-self: center;
}

@media only screen and (max-width: 900px) {
    #logo {
        height: 60vh;
        position: absolute;
        left: calc(50vw - 30vh);
        top: 0px;
        opacity: .5;
        filter: blur(12px);
    }
    section#title>div {
        position: relative;
        text-align: center;
        left: 10px;
        top: 25vh;
    }
    section#title h3 {
        font-size: 50px;
        width: calc(100vw - 20px);
    }
    section#title p {
        margin: 0px;
        opacity: .8;
        color: #fff;
        font-size: 36px;
        width: calc(100vw - 20px);
    }
}